$DynaPuff-font: "DynaPuff";
$Manrope-font: "Manrope";
$main-black-color: #202020;
@mixin container {
  width: 100%;
  margin: 0 auto;
}
body {
  margin: auto;
  background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
  background-repeat: no-repeat;
}

.fz-container {
  @include container;
}
