.fz-container--gradient {
  padding: 27px 16px 149px 17px;
  background: linear-gradient(252.94deg, #ffee32 -13.48%, #d6d6d6 125.48%);
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $main-black-color;
  width: 100%;
  padding: 18px 16px 18px 17px;
  z-index: 1;
}

.header-nav__ul {
  display: flex;
  justify-content: space-between;
}

.text-link-container {
  width: 615px;
  display: flex;
  justify-content: space-between;
  display: none;
}

.text-link__item {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 16px;
  display: block;
  color: white;
  font-weight: 700;
  line-height: 21.86px;
  font-family: $Manrope-font;

  & span {
    margin-left: 12px;
  }
}

h1 {
  font-family: $DynaPuff-font;
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin: 329px 0 0 0;
}
