body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.fz-container {
    width: 1300px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.logo {
    color: #22202E;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.nav-ul {
    display: flex;
    align-items: center;
}
.nav-li {
    margin-right: 44px;
}
.nav-a {
    text-decoration: none;
    color: #726E8D;
}

.rc {
    display: flex;
    align-items: center;
}

.common-a {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 16px;
}
.search {
    background-image: url(../img/search.svg);
}
.cart {
    background-image: url(../img/cart.svg);
}
.profile {
    background-image: url(../img/profile.svg);
}

.all-products {
    padding-top: 80px;
}

.all-p-h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 24px;
}

.select-lists {
    margin-bottom: 41px;
}

.common-sel {
    width: auto;
    border: none;
    padding: 12px 24px 12px 24px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
}
.opt-1 {
    display: none;
}

.category {
    width: 139px;
    background-position: 88px 11px;
}
.prod-type {
    width: 168px;
    background-position: 110px 11px;
}
.price {
    width: 109px;
    background-position: 63px 11px;
}
.brand {
    width: 118px;
    background-position: 70px 11px;
}
.sorting {
    float: right;
    padding-top: 12px;
}
.date-add {
    float: right;
    width: 159px;
    background-position: 105px 11px;
}

.common-row {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: repeat(1, 375px);
}

.grid-link {
    text-decoration: none;
}
.name {
    color: #2A254B;
    margin: 24px 0 8px 0;
    width: 133px;
    line-height: 28px;
}
.price {
    width: 42px;
    color: #2A254B;
    line-height: 27px;
}

.oo {
    margin-top: 135px;
}

.view-btn {
    border: none;
    background-color: #F9F9F9;
    color: #2A254B;
    padding: 16px 32px;
    cursor: pointer;
}
.btn-div {
    width: 175px;
    margin: auto;
    margin-top: 135px;
}

.join-club {
    display: flex;
    width: 1440px;
    margin: auto;
    margin-top: 40px;
}

.aside-img {
    width: 720px;
    height: 521px;
    background-image: url(../img/aside-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aside-text {
    padding: 71px 0 0 49px;
}

.h2-aside {
    font-size: 32px;
    padding-bottom: 21px;
}

.aside-btn {
    background-color: #2A254B;
    padding: 16px 32px;
    color: white;
    border: none;
    margin-top: 216px;
    cursor: pointer;
}

.footer {
    background-color: #2A254B;
    padding: 60px 0 0 0;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-lists {
    width: 514px;
    display: flex;
    justify-content: space-between;
}

.footer-li {
    margin-bottom: 12px;
}
.footer-a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    line-height: 20px;
}

.icons-rights {
    display: flex;
    padding: 25px 0;
    margin-top: 48px;
    border-top: 1px solid #4E4D93;
    justify-content: space-between;
}

.icons-rights > p {
    color: white;
    font-weight: 300;
}

.icons {
    display: flex;
    width: 264px;
    justify-content: space-between;
}

.co {
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
}
.l1 {
    background-image: url(../img/logo--linkedin.svg);
}
.l2 {
    background-image: url(../img/logo--facebook.svg);
}
.l3 {
    background-image: url(../img/logo--instagram.svg);
}
.l4 {
    background-image: url(../img/logo--skype.svg);
}
.l5 {
    background-image: url(../img/logo--twitter.svg);
}
.l6 {
    background-image: url(../img/logo--pinterest.svg);
}
