body {
    margin: 0 auto;
    font-family: 'Abril Fatface', serif;
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 1280px;
    margin: auto;
}

.headline-main {
    font-weight: 400;
    font-size: 80px;
    margin: 0;
}
.header-span {
    color: #4BCAFF;
}

.headline-main_link {
    color: black;
    text-decoration: none;
}

.header-nav {
    background-color: #35444F;
}
.nav-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-li {
    border-left: 1px solid white;
}
.nav-li:hover {
    background-color: #222F3A;
}
#nav_right-border {
    border-right: 1px solid white;
}
.nav-a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 17px 30px;
}

.flex-main {
    display: flex;
    justify-content: space-between;
}

.left-aside {
    width: 350px;
}
.aside-menu {
    border: 1px solid black;
    padding: 0;
}
.aside-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.aside-li:hover {
    background-color: #DBDBDB;
}
.aside-a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 100;
    display: block;
    padding: 13px 30px;
}
.aside-a:hover {
    font-weight: 300;
    padding-left: 50px;
}

.img_text-div {
    width: 70%;
}
.img-div {
    border: 1px solid black;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-goat:hover {
    transform: scale(1.4);
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin-bottom: 30px;
}

.footer {
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu {
    width: 850px;
    padding: 0;
    margin: 0;
}

.footer-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer-a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.footer-a:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.copyright {
    text-align: center;
    justify-content: center;
}

.cr {
    margin: 0;
    padding: 0;
}