body {
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}

.fz-container {
    width: 1296px;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
}

.logo-drop-in-links, .log-sign {
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: 700;
}

.nav-dropDown {
    background-color: #0F8277;
    width: 98px;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 12px;
    margin: 0 44px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-dropDown::after {
    content: url(../img/arrow.svg);
}

.nav-input {
    width: 330px;
    padding: 8px 0 8px 12px;
    border-color: #5C5C5C;
    border-style: solid;
    border-radius: 4px;
}

.sub-inp {
    width: 36px;
    height: 35px;
    background-color: #0F8277;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    border: none;
    background-position: center;
    border: 2px solid #5C5C5C;
    border-radius: 0 4px 4px 0;
    position: absolute;
    left: 637px;
    cursor: pointer;
}

.nav-ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-li {
    list-style-type: none;
    align-self: center;
}

.nav-a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.a-2 {
    margin-left: 48px;
}

.log {
    text-decoration: none;
    color: #0F8277;
    font-weight: 700;
}
.sign {
    text-decoration: none;
    border: none;
    background-color: #0F8277;
    color: white;
    margin-left: 28px;
    font-weight: 700;
    border-radius: 4px;
    padding: 10px 12px;
}

.main-bg {
    background-color: #DBF3ED;
    border-radius: 12px;
    background-image: url(../img/bg-img_up.png);
    background-repeat: no-repeat;
    background-position: 716px center;
    margin-bottom: 80px;
    padding: 170px 0 184px 0;
}

.learn-comfortably {
    width: 512px;
    margin-left: 110px;
}

h1 {
    font-size: 56px;
    font-weight: 700;
}

.learn-comfortably > p {
    font-size: 22px;
    font-weight: 600;
    margin: 32px 0;
}

.learn-comfortably > a {
    text-decoration: none;
    display: block;
}

.learning-btns {
    display: flex;
}

.start {
    color: white;
    background-color: #0F8277;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding: 10px 12px;
    cursor: pointer;
} 
.more {
    color: #0F8277;
    background-color: transparent;
    border: 2px solid #0F8277;
    border-radius: 4px;
    font-weight: 700;
    padding: 8px 10px;
    margin-left: 24px;
    cursor: pointer;
}

.ac-tr {
    color: #0F8277;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.best-prog {
    font-weight: 700;
    font-size: 40px;
    margin: 12px 0;
}

.p-after-h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.program-flex {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.com-opt {
    width: 416px;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.option-link {
    margin-top: 330px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.img-com {
    border-radius: 8px 8px 0 0;
}

.inline {
    display: inline-block;
    padding: 24px 16px;
}

.inline-ed {
    margin-bottom: 16px;
}

.inline-ed, .inline-diploma {
    display: flex;
}

.inst-span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
}

.inline-diploma {
    margin-top: 77px;
}

.last-diploma {
    margin-top: 47px;
    display: flex;
}


.g-d, .course {
    color: #0F8277;
    font-weight: 500;
    font-size: 16px;
    margin-left: 12px;
}

.courses-special {
    margin-top: 80px;
}

.com-cor {
    width: 306px;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.m-diploma {
    display: flex;
    margin-top: 86px;
}

.spec-diploma {
    margin-top: 57px;
    display: flex;
}

.course {
    margin: 0;
}

.more-courses, .more-topics {
    margin: auto;
}

.more-courses {
    width: 166px;
}

.more-courses > a {
    width: 166px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #0F8277;
    font-weight: 700;
    font-size: 20px;
    margin: 0 16px 0 0;
}

.topics-by-cat {
    margin-top: 80px;
}

.feat-h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.topics {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.topic-opt {
    width: 306px;
}

.option-name {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.sub-option, .student-stat {
    margin: 0;
}

.sub-option {
    font-size: 20px;
    font-weight: 700;
    color: #0F8277;
    margin-top: 32px;
}
.student-stat {
    font-weight: 500;
    margin-top: 10px;
}

.more-topics {
    width: 149px;
}

.more-topics > a {
    width: 149px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #0F8277;
    font-weight: 700;
    font-size: 20px;
}

.unis-n-companies {
    background-color: #DBF3ED;
    margin-top: 80px;
    padding: 80px 0;
}

.center-h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.comp-uni-img {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 60px;
}

.best-solution {
    margin: 80px 0 70px 0;
}

.solution-flex {
    display: flex;
    justify-content: space-between;
}

.solution {
    width: 636px;
    align-self: center;
}

.solution > h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.solution > p {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    margin: 32px 0;
}
.solution > button {
    font-weight: 700;
    color: white;
    padding: 10px 12px;
    background-color: #0F8277;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.brand-grid {
    width: 588px;
    display: grid;
    grid-template-rows: repeat(3, 136px);
    grid-template-columns: repeat(3, 196px);
}

.brand-item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.brand-item-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 2; 
}
.brand-item-3 {
    grid-row: 3 / 3;
    grid-column: 1 / 2;  
}
.brand-item-4 {
    grid-row: 1 / 2;
    grid-column: 2 / 3; 
}
.brand-item-5 {
    grid-row: 2 / 2;
    grid-column: 2 / 3; 
}
.brand-item-6 {
    grid-row: 3 / 3;
    grid-column: 2 / 2; 
}
.brand-item-7 {
    grid-row: 1 / 2;
    grid-column: 3 / 3; 
}
.brand-item-8 {
    grid-row: 2 / 2;
    grid-column: 3 / 3; 
}
.brand-item-9 {
    grid-row: 3 / 3;
    grid-column: 3 / 3; 
}

.plan {
    background-color: #DBF3ED;
    padding: 80px 0 100px 0;
}

.flex-plan {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.com-plan {
    width: 416px;
    padding: 56px 0;
    border: 1px solid #0F8277;
    border-radius: 24px;
}

.s-plan, .l-plan {
    background-color: #fff;
}

.m-plan {
    background-color: #0F8277;
}

.com-plan-flex {
    width: 304px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.program {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 27px;
    line-height: 29px;
}

.white-program {
    color: white;
}

.description {
    text-align: center;
    margin: 0;
    font-weight: 500;
    line-height: 19px;
}

.white-description {
    color: white;
}

.price-div {
    width: 304px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 27px;
}

.price-p {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.price-duration {
    font-weight: 500;
    align-self: center;
    margin: 0 0 0 16px;
}

.white-pp, .white-pd {
    color: white;
}

.get-started {
    text-decoration: none;
    color: white;
    padding: 10px 12px;
    background-color: #0F8277;
    border: 2px solid #0F8277;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin: auto;
}

.s_get-started {
    margin-top: 75px;
}

.l_get-started {
    margin-top: 46px;
}

.white-get-started {
    border-color: white;
    margin-top: 27px;
}

.checks-div, .white-checks-div {
    width: 304px;
    margin: auto;
    margin-top: 48px;
    padding-top: 48px;
}

.checks-div {
    border-top: 2px solid #0F8277;
}

.check, .white-check {
    display: flex;
}

.img-t {
    align-self: start;
}

.ml, .white-ml {
    margin: 0 0 16px 16px;
    font-weight: 500;
}

.img-b {
    align-self: start;
}

.mt, .white-mt {
    margin: 0 0 0 16px;
    font-weight: 500;
}

.white-checks-div {
    border-top: 1px solid white;
}

.white-ml {
    color: white;
}

.white-mt {
    color: white;
}

.students-foto {
    margin: 80px 0 77px 0;
}

.foto-grid {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-rows: repeat(3, 210px);
    grid-template-columns: repeat(4, 306px);
}

.com-it {
    width: 100%;
    height: 100%;
}

.item-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.item-2 {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
}
.item-3 {
    grid-row: 3 / 3;
    grid-column: 1 / 2;
}
.item-4 {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}
.item-5 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.item-6 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.item-7 {
    grid-row: 1 / 1;
    grid-column: 4 / 5;
}
.item-8 {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
.item-9 {
    grid-row: 3 / 4;
    grid-column: 4 / 4;
}

.contact-us_form {
    background-image: url(../img/form_bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0 47px 0;
    position: relative;
}
.contact-us_form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.form-wrapper {
    width: 565px;
    margin: auto;
    background-color: #DBF3ED;
    border-radius: 24px;
    padding: 30px;
    position: relative;
    z-index: 2;
}

.form-h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.form-p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin: 24px 0;
}

.name-flex, .email-flex, .message-flex{
    display: flex;
    flex-direction: column;
}

.from-span {
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
}

.form-input, #message {
    padding: 12px;
    border: 1px solid #0F8277;
    border-radius: 4px;
    margin-bottom: 24px;
}

.form-input::placeholder {
    color: #8E8E8E;
}

#message {
    resize: none;
}

.send-btn {
    color: white;
    background-color: #0F8277;
    padding: 10px 77px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    padding: 64px 0;
    background-color: #F1F1F1;
}

.text-f {
    width: 306px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.under-logo-f {
    font-weight: 500;
    line-height: 19px;
}

.inst-icon, .fb-icon, .in-icon {
    width: 32px;
    height: 32px;
    margin-left: 24px;
}

.icons-cr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-cr {
    font-weight: 500;
    line-height: 19px;
}

.icons {
    display: flex;
    align-self: end;
}

.inst-icon {
    background-image: url(../img/footer-icons/inst.svg);
}
.fb-icon {
    background-image: url(../img/footer-icons/fb.svg);
}
.in-icon {
    background-image: url(../img/footer-icons/in.svg);
}