body {
    margin: 0 auto;
    font-family: 'Abril Fatface', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    background-color: #EEEEEF;
}

.header {
    position: relative;
    z-index: 2;
}

.container {
    width: 100%;
}
.bg-blue {
    background-color: rgba(16, 187, 213, 1);
    position: fixed;
}
.bg-white {
    background-color: #fff;
    z-index: 2;
    position: fixed;
    top: 82px;
}

.fz-container {
    width: 1296px;
    margin: 0 auto;
    position: relative;
}

.blue-part {
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
}

.btn-cart {
    border: none;
    background-color: transparent;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: cover; 
    background-position: center; 
    width: 40px;
    height: 40px;
}
.br {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.br > span {
    margin-left: 4px;
}

.sh-cart {
    display: flex;
    position: relative;
}
.euros {
    color: white;
    margin-right: 8px;
    align-self: center;
}

.rel-p {
    position: absolute;
    top: 9px;
    right: 12px;
}

.white-part {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.sbc {
    margin: 0;
    font-size: 16px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 295px;
    justify-content: space-between;
}
.nav-a {
    text-decoration: none;
    color: black;
}

.main {
    padding-top: 136px;
}

.headLine {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}

.books-toSell {
    border-top: 1px solid rgba(168, 168, 168, 1);
    margin-top: 23px;
    padding: 24px 0 120px 0;
    position: relative;
}

.first-row, .second-row, .trird-row {
    display: flex;
    justify-content: space-between;
}
.chat-icon {
    position: absolute;
    width: 64px;
    right: -24px;
    top: 524px;
    z-index: 1;
    cursor: pointer;
    
}

.fixed-icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #10BBD5;
    background-image: url(../img/chat.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
}
.fixed-icon:hover {
    background-image: url(../img/chat-hover.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.second-row, .trird-row {
    margin-top: 32px;
}

.border-div {
    border: 1px solid rgba(168, 168, 168, 1);
    width: 306px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.common {
    border-radius: 4px;
    position: absolute;
    top: 32px;
    left: 32px;
}
.common > p {
    margin: 0;
    color: white;
    padding: 4px 8px;
}

.hit {
    background-color: #4200FF;
}

.new {
    background-color: #AF39E7;
}

.sale {
    background-color: #EA33C0;
    left: 72px;
}

.sale-new {
    left: 84px;
}

.sale-only {
    left: 32px;
}

.img-up {
    width: 242px;
    display: flex;
}
.apa-down {
    width: 242px;
}

.img-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.book-img {
    align-self: center;
}

.apa-down > p {
    margin-bottom: 0;
}


.name {
    margin: 16px 0 0 0;
    font-weight: 700;
    text-decoration: none;
    color: black;
    font-size: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.author {
    color: rgba(142, 142, 142, 1);
    border-top: 1px solid rgba(168, 168, 168, 1);
    margin: 0;
    line-height: 24px;
    font-weight: 400;
}
.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    margin: 8px 0 16px 0;
}
.bs-price {
    color: #8E8E8E;
    padding-left: 24px;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.common-btn {
    width: 100%;
    padding: 8px 0;
    margin-top: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-2-b {
    background-color: #4C394E;
    color: white;
}
.add-2-b:hover {
    background-color: #744978;
}

.end-up {
    background-color: #4D762D;
    color: white; 
}
.end-up:hover {
    background-color: #6DB236;
}

.footer {
    background-color: #4C394E;
    padding: 32px 0;
}

.fz-container > div {
    display: flex;
    justify-content: space-between;
}

.f-p{
    color: white;
}
.f-p > span {
    padding-right: 5px;
}