.mobile-apps {
  background-color: #3c3c3c;
  padding: 52px 0 85px 0;
}

.apps__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 343px;
  grid-template-rows: 488px 518px;
  grid-gap: 63px;
}

.grid__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  & span {
    font-family: $DynaPuff-font;
    color: #565656;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.4px;
  }

  & span:last-child {
    font-family: $Manrope-font;
    color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.49px;
  }
}

.bg-svg {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../../images/phone-res/mobile-apps/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.bg-svg--first {
  top: 36px;
  left: 251px;
}
.bg-svg--second {
  top: 31px;
  left: 256px;
}

.link--16p,
.link--11p {
  background-color: white;
  border-radius: 24px;
}

.link--16p {
  padding: 16px;

  & img {
    background-size: cover;
  }
}
.link--11p {
  padding: 11px;

  & span {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
  }

  & span:last-child {
    font-weight: 500;
  }
}
