@mixin white-header-text {
  font-weight: 400;
  line-height: 24px;
}

.header {
  position: relative;
  z-index: 2;
}

.container__bg--blue {
  background-color: rgba(16, 187, 213, 1);
  position: fixed;
}
.container__bg--white {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  top: 82px;
}

.fz-container--blue-part {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
}

.btn-cart {
  border: none;
  background-color: transparent;
  background-image: url(../../images/svgs/cart.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
}
.book-read {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  & span {
    margin-left: 4px;
  }
}

.sh-cart {
  display: flex;
  position: relative;
}
.total-sum {
  @include white-header-text;
  color: white;
  margin-right: 8px;
  align-self: center;
}

.total-shoping-items {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 11px;
  right: 12px;
}

.fz-container--white-part {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.shop-by-category {
  margin: 0;
  @include white-header-text;
}

.header-nav__ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 295px;
  justify-content: space-between;
}
.header-nav__a {
  text-decoration: none;
  color: black;
  @include white-header-text;
}
