.meet-Alex {
  background-color: $main-black-color;
  background-image: url(../../images/atom/atom-mobile.png);
  background-repeat: no-repeat;
  background-position: right;
}

.meet-Alex__content {
  @include container;
  padding: 72px 17px 76px 16px;
}

.headline {
  font-family: $DynaPuff-font;
  color: #faeb49;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
}

.header__description {
  font-family: $Manrope-font;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.49px;
  margin: 40px 0;
}

.alex__statistics {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & div {
    width: 28%;
  }
}

.statistics__number {
  font-family: $DynaPuff-font;
  color: white;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
}

.statistics__descriprion {
  font-family: $Manrope-font;
  color: white;
  font-weight: 700;
  line-height: 21.86px;
}
