body {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(../img/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: rgba(0, 0, 0, 0.25);
    padding: 18px 0;
}

.fz-container {
    width: 1206px;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    transition: 0.3s;
}
.logo:hover {
    color: #01813F;
}

.icon-nav {
    display: flex;
    width: 349px;
    justify-content: space-between;
}

.com-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}
.svg-cal {
    background-image: url(../img/nav-calendar.svg);
    transition: 0.3s;
}.svg-cal:hover {
    background-image: url(../img/hover-calendar.svg);
}

.svg-mail {
    background-image: url(../img/nav-gmail.svg);
    transition: 0.3s;
}.svg-mail:hover {
    background-image: url(../img/hover-gmail.svg);
}

.svg-comp {
    background-image: url(../img/nav-compass.svg);
    transition: 0.3s;
}.svg-comp:hover {
    background-image: url(../img/hover-compass.svg);
}

.nav-p {
    color: white;
    align-self: center;
    font-weight: 300;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 27px;
}
.nav-a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}.nav-a:hover{
    color: #01813F;
}

form {
    width: 444px;
    background-color: #fff;
    padding: 31px 60px;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-top: calc((100vh - 584px) / 2);
    margin-left: calc((100vw - 444px) / 2);
}

.up-flex-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.up-flex-div > p {
    color: #434343;
    font-size: 20px;
    line-height: 20px;
}

.up-flex-div > a {
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    align-self: center;
    transition: 0.3s;
}
.up-flex-div > a:hover {
    text-decoration: underline;
    color: #01813F;
}

.green-box {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    top: 31px;
    left: 0;
}

.com-btn {
    border: none;
    color: white;
    font-weight: 300;
    border-radius: 3px;
    width: 160px;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 11px center;
}

.facebook_btn {
    background-image: url(../img/f_btn.svg);
    background-color: #305DB8;
    background-size: 24px;
    transition: 0.3s;
}
.facebook_btn > p {
    width: 60px;
    margin-left: 48px;
    padding-left: 18px;
    border-left: 1px solid #2b4fb0;
    line-height: 25px;
}
.facebook_btn:hover {
    background-color: #022263;
}

.google_btn {
    background-image: url(../img/g+_btn.svg);
    background-color: #DF4A32;
    background-size: 30px;
    transition: 0.3s;
}
.google_btn > p {
    width: 43px;
    margin-left: 49px;
    padding-left: 30px;
    border-left: 1px solid #dc3308;
    line-height: 25px;
}
.google_btn:hover {
background-color: #AB1F09;
}

.pseudo-or {
    color: #848484;
    font-size: 14px;
    text-align: center;
    margin: 31px 0 16px 0;
}

.pseudo-or::before {
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    left: 60px;
    top: 150px;
    position: absolute;
}
.pseudo-or::after {
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    right: 60px;
    top: 150px;
    position: absolute;
}

.input-box > input {
    width: 100%;
    padding: 15px 0 15px 19px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
}

.input-box > input:focus {
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.52);
}

.flex-l {
    display: flex;
}

.agree-chbox {
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
}
.agree-chbox:checked {
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.input-box > input::placeholder {
color: #BEBEBE;
}

.terms > label > p {
    color: #434343;
    font-size: 14px;
    margin: 0 4px 0 8px;
    align-self: center;
}

.terms > label > a {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    align-self: center;
    transition: 0.3s;
}
.terms > label > a:hover {
    text-decoration: underline;
    color: #01813F;
}

.create-acc {
    color: white;
    background-color: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    padding: 16px 0;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.create-acc:hover {
    background-color: #01813F;
}