.graphics-design {
  background-color: $main-black-color;
}

.fz-container__desing {
  @include container;
  padding: 58px 16px 93px 16px;
}

.design__headline {
  font-family: $DynaPuff-font;
  color: white;
  font-size: 36px;
  line-height: 43.2px;
  margin-bottom: 28px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 343px;
  grid-template-rows: repeat(3, 325px);
  grid-gap: 32px;
  justify-content: center;
  position: relative;
  width: 343px;
  margin: auto;
}

.design__shape {
  & img {
    border-radius: 40px;
  }
}

.design__shape--star::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 172px;
  background-image: url(../../images/SoftStar.svg);
  background-repeat: no-repeat;
  top: 77px;
  left: 86px;
}

.design__shape--butterfly::before {
  content: "";
  position: absolute;
  width: 134px;
  height: 137px;
  background-image: url(../../images/Butterfly.svg);
  background-repeat: no-repeat;
  top: 455px;
  left: 105px;
}

.design__shape--flower::before {
  content: "";
  position: absolute;
  width: 148px;
  height: 143px;
  background-image: url(../../images/Asterisk.svg);
  background-repeat: no-repeat;
  top: 805px;
  left: 98px;
}
