.footer {
  background-color: #4c394e;
  padding: 32px 0;
}

.fz-container > div {
  display: flex;
  justify-content: space-between;
}

.footer__rights--year,
.footer__rights--reserved {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;

  & span {
    padding-right: 5px;
  }
}
