.footer {
  background-color: $main-black-color;
  padding: 53px 16px 40px 17px;
  @include container;

  & a {
    width: 342px;
    margin: auto;
    border: 1px solid white;
    border-radius: 139px;
    padding: 10px 33px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 113px;

    & div {
      width: 203px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  & p {
    font-family: $Manrope-font;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    margin-top: 21px;
  }
}

.new-project__link {
  font-family: $DynaPuff-font;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.book-a-call__link {
  font-family: $Manrope-font;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 20.49px;
  margin-right: 24px;
  display: flex;

  & img {
    text-align: center;
    margin-left: 24px;
  }
}

.img-wrapper {
  width: 198px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
