.main {
  padding-top: 136px;
}

.headline {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin: 0;
}

.books-to-sell {
  border-top: 1px solid rgba(168, 168, 168, 1);
  margin-top: 23px;
  padding: 24px 0 120px 0;
  position: relative;
}

.first-row,
.second-row,
.trird-row {
  display: flex;
  justify-content: space-between;
}
.chat-icon {
  position: absolute;
  width: 64px;
  right: -24px;
  top: 695px;
  z-index: 1;
  cursor: pointer;
}

.fixed-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #10bbd5;
  background-image: url(../../images/svgs/chat.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;

  &:hover {
    background-image: url(../../images/svgs/chat-hover.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.second-row,
.trird-row {
  margin-top: 32px;
}

.border-div {
  border: 1px solid rgba(168, 168, 168, 1);
  width: 306px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.relative-blocks--common {
  border-radius: 4px;
  position: absolute;
  top: 32px;
  left: 32px;
}
.relative-blocks--common > p {
  margin: 0;
  color: white;
  padding: 4px 8px;
}

.hit-block {
  background-color: #4200ff;
}

.new-block {
  background-color: #af39e7;
}

.sale-block {
  background-color: #ea33c0;
  left: 72px;
}

.sale-new {
  left: 84px;
}

.sale-only {
  left: 32px;
}

.img--up {
  width: 242px;
  display: flex;
}
.apb-block {
  width: 242px;

  & p {
    margin-bottom: 0;
  }
}

.img--up__link {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.book-img {
  align-self: center;
}

.img--up__name {
  margin: 16px 0 0 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.apb-block__author {
  font-weight: 400;
  line-height: 24px;
  color: rgba(142, 142, 142, 1);
  border-top: 1px solid rgba(168, 168, 168, 1);
  margin: 0;
}
.apb-block__price {
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 8px 0 16px 0;
}
.before-sale-price {
  color: #8e8e8e;
  padding-left: 24px;
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.btn--common {
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  padding: 8px 0;
  margin-top: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn__add-to-basket {
  background-color: #4c394e;
  color: white;

  &:hover {
    background-color: #744978;
  }
}

.btn__end-up {
  background-color: #4d762d;
  color: white;

  &:hover {
    background-color: #6db236;
  }
}
