.refrigerator-similie-section {
  background-image: url(../../images/last-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 16px 173px 16px;

  & p {
    font-family: $DynaPuff-font;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
  }
}
